@inject IJSRuntime jsRuntime
@page "/"

<input type="text" id="textField" bind="@message" />
<button onclick="@ShowAlert">Show Alert</button>

@*<div class="row"></div>
<div class="row">
    <div class="col-3"><input type="text" bind="@model.Label"/></div>
    <div class="col-3"><input type="number" bind="@model.Count"/></div>
    <div class="col-2"><button onclick="@IncrementCounter">Increment</button></div>
</div>*@
@functions {

    string message;
    private async Task ShowAlert()
    {
        await jsRuntime.InvokeAsync<object>("ShowAlert", message);
    }
}
